.vit{
   background-color: black;
}
.add{
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent-parallel{
    padding-top: 30px;
    display: flex;
    height: 1000px;
    margin:0 20px;
   
}
.parallel-1{
    flex: 30%;
    background-color: yellow;
    padding: 2%;
    border-radius: 90px;
    
}
.parallel-2{
    flex: 30%;
    background-color: green;
    margin:0 20px;
    padding: 2%;
    border-radius: 90px;
}

